{%extends "layout.html"%}


{% block body %}
<div id="about">
    <div class="container">
        <h1 class="card-subtitle">About me</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis officia 
            impedit quibusdam qui, expedita quisquam tempore voluptatum repellat fugit et? 
            Corporis consequuntur maiores commodi dolor velit porro ad quo debitis!
        </p>
    </div>
    <div class="about-list">

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis officia 
            impedit quibusdam qui, expedita quisquam tempore voluptatum repellat fugit et? 
            Corporis consequuntur maiores commodi dolor velit porro ad quo debitis!
        </p>
    </div>
    <div class="about-list">
       
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis officia 
            impedit quibusdam qui, expedita quisquam tempore voluptatum repellat fugit et? 
            Corporis consequuntur maiores commodi dolor velit porro ad quo debitis!
        </p>
    </div>
    <div class="about-profile">

    </div>
</div>
  
{% endblock %}