{%extends "layout.html"%}


{% block body %}
<h1>Dashboard</h1>
<div class = "dashboard-list">
    
    <div class = "dashboard">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis officia impedit quibusdam qui, expedita quisquam tempore voluptatum repellat fugit et? Corporis consequuntur maiores commodi dolor velit porro ad quo debitis!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis officia impedit quibusdam qui, expedita quisquam tempore voluptatum repellat fugit et? Corporis consequuntur maiores commodi dolor velit porro ad quo debitis!</p>

</div>
<div class = "dashboard">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis officia impedit quibusdam qui, expedita quisquam tempore voluptatum repellat fugit et? Corporis consequuntur maiores commodi dolor velit porro ad quo debitis!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis officia impedit quibusdam qui, expedita quisquam tempore voluptatum repellat fugit et? Corporis consequuntur maiores commodi dolor velit porro ad quo debitis!</p>

</div>
</div>

 {% endblock %}