{%extends "layout.html"%}


{% block body %}

<div class = "welcome-grid">
<div class="welcome">
    <h1 class = "wel">Evisions '24 Capstone Project</h1>
    <h2>This project will demonstrate all department learning days with individuals deparment</h2>
    <button class = "get-started"> Get Started</button>
</div>
</div>


<div class="image-div">

</div>

<div class=" department">
<div class=" Engineering">

</div>
<div class=" Engineering">

</div>
<div class=" Engineering">

</div>
</div>


<h1 class="card-subtitle">About SSD</h1>
<div class = "grid-list">
    <div class="grid">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis officia 
            impedit quibusdam qui, expedita quisquam tempore voluptatum repellat fugit et? 
            Corporis consequuntur maiores commodi dolor velit porro ad quo debitis!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis officia 
            impedit quibusdam qui, expedita quisquam tempore voluptatum repellat fugit et? 
            Corporis consequuntur maiores commodi dolor velit porro ad quo debitis!
        </p>
    </div>
    <div class="grid">

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis officia 
            impedit quibusdam qui, expedita quisquam tempore voluptatum repellat fugit et? 
            Corporis consequuntur maiores commodi dolor velit porro ad quo debitis!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis officia 
            impedit quibusdam qui, expedita quisquam tempore voluptatum repellat fugit et? 
            Corporis consequuntur maiores commodi dolor velit porro ad quo debitis!
        </p>
    </div>
    <div class="grid">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis officia 
            impedit quibusdam qui, expedita quisquam tempore voluptatum repellat fugit et? 
            Corporis consequuntur maiores commodi dolor velit porro ad quo debitis!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis officia 
            impedit quibusdam qui, expedita quisquam tempore voluptatum repellat fugit et? 
            Corporis consequuntur maiores commodi dolor velit porro ad quo debitis!
        </p>
    </div>
</div>

<h1 class="card-subtitle">About SSD</h1>
{% endblock %}