{%extends "layout.html"%}


{% block body %}

<div class = "welcome-grid">
<div class="welcome">
    <h1 class = "wel">Evisions '24 Capstone Project</h1>
    <h2>This project will demonstrate all department learning days with individuals deparment</h2>
    <button class = "btn" id = "get-started"> Get Started</button>
</div>
</div>


<!-- Departments -->

 <section id="main">
    <div class="departments">
            <img src="https://image.tmdb.org/t/p/w1280/xg27NrXi7VXCGUr7MG75UqLl6Vg.jpg" alt="Engineering">
            <div class="departments-info">
                <h3>Engineering</h3>
                <span class="red">9.8</span>
                <div class="overview">
                    <h3>overview</h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ipsa
                     autem quo dolore! Quisquam dolores accusamus, quam commodi provident 
                     quibusdam perspiciatis reiciendis ipsum aliquam excepturi molestiae facilis!
                      Quas, perferendis velit!

                </div>
            </div>

    </div>
    <div class="departments">
        <img src="https://image.tmdb.org/t/p/w1280/xg27NrXi7VXCGUr7MG75UqLl6Vg.jpg" alt="Engineering">
        <div class="departments-info">
            <h3>overview</h3>
            <span class="green">9.8</span>
            <div class="overview">
                <h3>overview</h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ipsa
                 autem quo dolore! Quisquam dolores accusamus, quam commodi provident 
                 quibusdam perspiciatis reiciendis ipsum aliquam excepturi molestiae facilis!
                  Quas, perferendis velit!

            </div>
        </div>

</div>
<div class="departments">
    <img src="https://image.tmdb.org/t/p/w1280/xg27NrXi7VXCGUr7MG75UqLl6Vg.jpg" alt="Engineering">
    <div class="departments-info">
        <h3>Engineering</h3>
        <span class="orange">9.8</span>
        <div class="overview">
            <h3>overview</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ipsa
             autem quo dolore! Quisquam dolores accusamus, quam commodi provident 
             quibusdam perspiciatis reiciendis ipsum aliquam excepturi molestiae facilis!
              Quas, perferendis velit!

        </div>
    </div>

</div>
<div class="departments">
    <img src="https://image.tmdb.org/t/p/w1280/xg27NrXi7VXCGUr7MG75UqLl6Vg.jpg" alt="Engineering">
    <div class="departments-info">
        <h3>Engineering</h3>
        <span class="orange">9.8</span>
        <div class="overview">
            <h3>overview</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ipsa
             autem quo dolore! Quisquam dolores accusamus, quam commodi provident 
             quibusdam perspiciatis reiciendis ipsum aliquam excepturi molestiae facilis!
              Quas, perferendis velit!

        </div>
    </div>

</div>
<div class="departments">
    <img src="https://image.tmdb.org/t/p/w1280/xg27NrXi7VXCGUr7MG75UqLl6Vg.jpg" alt="Engineering">
    <div class="departments-info">
        <h3>Engineering</h3>
        <span class="orange">9.8</span>
        <div class="overview">
            <h3>overview</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ipsa
             autem quo dolore! Quisquam dolores accusamus, quam commodi provident 
             quibusdam perspiciatis reiciendis ipsum aliquam excepturi molestiae facilis!
              Quas, perferendis velit!

        </div>
    </div>

</div>
<div class="departments">
    <img src="https://image.tmdb.org/t/p/w1280/xg27NrXi7VXCGUr7MG75UqLl6Vg.jpg" alt="Engineering">
    <div class="departments-info">
        <h3>Engineering</h3>
        <span class="orange">9.8</span>
        <div class="overview">
            <h3>overview</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ipsa
             autem quo dolore! Quisquam dolores accusamus, quam commodi provident 
             quibusdam perspiciatis reiciendis ipsum aliquam excepturi molestiae facilis!
              Quas, perferendis velit!

        </div>
    </div>

</div>
 </section>






<h1 class="card-subtitle">About SSD</h1>
<div class = "grid-list">
    <div class="grid">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis officia 
            impedit quibusdam qui, expedita quisquam tempore voluptatum repellat fugit et? 
            Corporis consequuntur maiores commodi dolor velit porro ad quo debitis!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis officia 
            impedit quibusdam qui, expedita quisquam tempore voluptatum repellat fugit et? 
            Corporis consequuntur maiores commodi dolor velit porro ad quo debitis!
        </p>
    </div>
    <div class="grid">

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis officia 
            impedit quibusdam qui, expedita quisquam tempore voluptatum repellat fugit et? 
            Corporis consequuntur maiores commodi dolor velit porro ad quo debitis!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis officia 
            impedit quibusdam qui, expedita quisquam tempore voluptatum repellat fugit et? 
            Corporis consequuntur maiores commodi dolor velit porro ad quo debitis!
        </p>
    </div>
    <div class="grid">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis officia 
            impedit quibusdam qui, expedita quisquam tempore voluptatum repellat fugit et? 
            Corporis consequuntur maiores commodi dolor velit porro ad quo debitis!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis officia 
            impedit quibusdam qui, expedita quisquam tempore voluptatum repellat fugit et? 
            Corporis consequuntur maiores commodi dolor velit porro ad quo debitis!
        </p>
    </div>
</div>

<h1 class="card-subtitle">About SSD</h1>

<div class = "grid-list">
    <div class="grid">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis officia 
            impedit quibusdam qui, expedita quisquam tempore voluptatum repellat fugit et? 
            Corporis consequuntur maiores commodi dolor velit porro ad quo debitis!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis officia 
            impedit quibusdam qui, expedita quisquam tempore voluptatum repellat fugit et? 
            Corporis consequuntur maiores commodi dolor velit porro ad quo debitis!
        </p>
    </div>
    <div class="grid">

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis officia 
            impedit quibusdam qui, expedita quisquam tempore voluptatum repellat fugit et? 
            Corporis consequuntur maiores commodi dolor velit porro ad quo debitis!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis officia 
            impedit quibusdam qui, expedita quisquam tempore voluptatum repellat fugit et? 
            Corporis consequuntur maiores commodi dolor velit porro ad quo debitis!
        </p>
    </div>
    <div class="grid">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis officia 
            impedit quibusdam qui, expedita quisquam tempore voluptatum repellat fugit et? 
            Corporis consequuntur maiores commodi dolor velit porro ad quo debitis!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis officia 
            impedit quibusdam qui, expedita quisquam tempore voluptatum repellat fugit et? 
            Corporis consequuntur maiores commodi dolor velit porro ad quo debitis!
        </p>
    </div>
</div>

{% endblock %}