@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*---------------body-------------*/
body {
    padding-top: 0px;
    background-color: black;
}

h2{
    text-align: center;
    text-decoration: none;
}

.container {
    margin-top: 0px;
    color: white;
}

/*-----------------------
/   btn , grid , welcome
/
/REUSEABLE------------*/

/*---------landing page------------*/

.welcome-grid{
    background-color: none;
    margin-top: 50px;
    margin-left: 50px;
}
.welcome{
    /* display: flex; */
    margin-top: 50px;
    margin-left: 50px;
}
.wel{
    margin-top: 50px;
    margin-left: 50px;
    text-decoration: none;
    flex-direction: center;
    display: block;
    font-size: 80px;
    padding: 30px 20px;
}

/*---------end lang page------------*/


/*---------About--------------------*/
#about {
    padding: 30px 0;
    color: white;
}


.about-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
    background: blue;
    border-color: aqua;
    border-radius:10px;
    height: 100%;
}
.about-list div
{
    background: green;
    padding: 40px;
    font-size: 13px;
    border-right: 10px;
    font-weight: 300;
    border-radius: 10px ;
    transition: background 0.5s, transform 0.5s;
}

/*----------- About end----------------*/



/*---------form-------------------------*/

/* #form-list {

    border-radius: 5px;
    margin-bottom: 100px;
    background-position: center;
  }  */

  .form-group {
    margin-bottom: 15px;
    padding: 10px;
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  input[type="text"], input[type="email"], input[type="password"] {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;

}
.btn{
    display: block;
    text-decoration: none;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #0d0559;
    border-radius: 6px;
    padding: 14px 50px;
    color: white;
}
.btn:hover{
    background:#0d0559;
}


.login-link{
    display: inline-block;
}
/*--------------form end---------------------*/

/* BODY*/

.form-frame{
    background: rgba(33, 4, 249, 0.88);
    padding: 40px;
    font-size: 13px;
    border-right: 10px;
    font-weight: 300;
    border-radius: 10px ;
    margin-top: 80px;
}

.grid-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
    margin-top: 50px;
}
.grid{
    background: rgba(33, 4, 249, 0.88);
    padding: 50px;
    font-size: 20px;
    border-right: 10px;
    font-weight: 300;
    border-radius: 10px ;
    transition: background 0.5s, transform 0.5s;
}


.dashboard-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.dashboard{
    background: rgba(33, 4, 249, 0.88);
    padding: 40px;
    font-size: 13px;
    border-right: 10px;
    font-weight: 300;
    border-radius: 10px ;
    transition: background 0.5s, transform 0.5s;
}

/* MOBILE STYLES: BODY*/

@media (max-width: 768px) {
    body {
        padding-top: 0px;
    }

    .container {
        margin-top: 0px;
        padding: 10px; /* Adding some padding for better readability on mobile */
    }

    .navbar {
        font-size: 14px; /* Adjusting navbar font size for mobile */
    }
}


/*=======   test       =======*/

.departments{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: auto;
    

}
.departments-list {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.departments-l {
    width: 50rem;
    position: relative;
    margin: 1rem 1em 2rem 1rem;
    border-radius: 10px;
    overflow: hidden;
    height: 25rem;
}

.departments-l::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(9, 1, 31, 0.719), rgba(0, 0, 0, 0));
    z-index: 1;
}

.departments-l .departments-info {
    position: absolute;
    padding: 2rem;
    top: 25%;
    z-index: 2;
}

.departments-l .overview.visible {
    font-size: 14px;
    padding: 2rem;
    position: absolute;
    top: 35%;
    width: 60%;
    z-index: 2;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f100;
}

::-webkit-scrollbar-track:horizontal {
    margin: 1rem;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 100px;
}

.horizontal-list::-webkit-scrollbar-track {
    margin: 1rem;
}