* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}
/* BODY*/
body {
    padding-top: 0px;
    background-color: black;
}

.container {
    margin-top: 0px;
}


body {
    padding-top: 0px;
    background-color: rgb(0, 0, 0);
}

.container {
    margin-top: 0px;
    color: white; /* Assuming you want to make text visible on the black background */
}





/*        About          */
#about {
    padding: 30px 0;
    color: white;
}


.about-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
    background: blue;
    border-color: aqua;
    border-radius:10px;
    height: 100%;
}
.about-list div
{
    background: green;
    padding: 40px;
    font-size: 13px;
    border-right: 10px;
    font-weight: 300;
    border-radius: 10px ;
    transition: background 0.5s, transform 0.5s;
}

/* About end */



/* form */

/* #form-list {

    border-radius: 5px;
    margin-bottom: 100px;
    background-position: center;
  }  */

  .form-group {
    margin-bottom: 15px;
    padding: 10px;
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  input[type="text"], input[type="email"], input[type="password"] {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;

}
.btn{
    display: block;
    text-decoration: none;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #0d0559;
    border-radius: 6px;
    padding: 14px 50px;
    color: white;
    transition: background 0.5s;


}
.btn:hover{
    background:#0d0559;
}

/* form end*/

/* BODY*/

.form-frame{
    background: rgba(33, 4, 249, 0.88);
    padding: 40px;
    font-size: 13px;
    border-right: 10px;
    font-weight: 300;
    border-radius: 10px ;
    margin-top: 80px;
}

.grid-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
    margin-top: 50px;
}
.grid{
    background: rgba(33, 4, 249, 0.88);
    padding: 50px;
    font-size: 20px;
    border-right: 10px;
    font-weight: 300;
    border-radius: 10px ;
    transition: background 0.5s, transform 0.5s;
}


.dashboard-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.dashboard{
    background: rgba(33, 4, 249, 0.88);
    padding: 40px;
    font-size: 13px;
    border-right: 10px;
    font-weight: 300;
    border-radius: 10px ;
    transition: background 0.5s, transform 0.5s;
}

/* MOBILE STYLES: BODY*/

@media (max-width: 768px) {
    body {
        padding-top: 0px;
    }

    .container {
        margin-top: 0px;
        padding: 10px; /* Adding some padding for better readability on mobile */
    }

    .navbar {
        font-size: 14px; /* Adjusting navbar font size for mobile */
    }
}
